@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin border-bottom {
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
}

@mixin standard-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}
@mixin link-hover {
  text-decoration: underline;
  cursor: url("/style/img/icons8-finger-up-48.png"), auto;
}

$my_aqua: #339999;
