@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin border-bottom {
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
}

@mixin standard-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
}
@mixin link-hover {
  text-decoration: underline;
  cursor: url("/style/img/icons8-finger-up-48.png"), auto;
}

$my_aqua: #339999;

.html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: "Inter", sans-serif, Arial;
}

.all {
  padding: 2rem;
  height: 100vh;
  width: 70vw;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    @include link-hover;
  }
}

.header {
  @include flex-row;
  justify-content: space-between;
  @include border-bottom;

  @media (max-width: 1607px) {
    @include flex-column;
  }
  @media (max-width: 1110px) {
    @include flex-row;
  }
  .title {
    font-size: 32px;
    @media (max-width: 1607px) {
      padding-bottom: 2rem;
    }
  }
  .nav {
    @include flex-row;
    justify-content: space-between;
    width: 48rem;
    @media (max-width: 1110px) {
      display: none;
    }

    .img-container {
      height: 2rem;
      width: 2rem;
      background-image: url("/style/img/earth-1303628_640.png");
      background-size: contain;
      background-position: center;
    }

    a {
      @include flex-column;
      justify-content: center;
    }

    .boxed {
      border: black solid 2px;
      padding-left: 2%;
      padding-right: 2%;
      max-height: 2rem;

      &:hover {
        background-color: black;
        color: white;
        text-decoration: none;
      }
    }
  }
  .burger-menu {
    @media (min-width: 1110px) {
      display: none;
    }
    .line {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
    }
  }
}

.titles {
  @include flex-row;
  justify-content: space-between;
  @include border-bottom;
  padding-top: 2rem;
  align-items: center;
  .title {
    font-size: 38px;
    color: $my_aqua;
  }
  .title__next {
    font-size: 18px;
    color: #993333;
    width: 15rem;
    text-align: right;
    .up-next {
      font-size: 26px;
      font-weight: 900;
      color: black;
    }
    &:hover {
      @include link-hover;
    }
  }
}

.main {
  @include flex-row;
  justify-content: center;
  @include border-bottom;

  @media (max-width: 1110px) {
    @include flex-column;
  }

  .heading {
    font-size: 20px;
    color: $my_aqua;
    padding-bottom: 1rem;
  }

  .thumbnails {
    @include flex-column;
    justify-content: space-around;
    height: 80rem;
    @include standard-padding;

    @media (max-width: 1110px) {
      display: none;
    }

    .container {
      height: 5rem;
      width: 7rem;
      border: black solid 2px;
      @include flex-column;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: $my_aqua;
        cursor: url("/style/img/icons8-finger-up-48.png"), auto;
      }
      .thumbnail {
        height: 4rem;
        width: 6rem;
        background-image: url("/style/img/world.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        &:hover {
          background-image: url("/style/img/world-white.png");
        }
      }

      .family {
        background-image: url("/style/img/family1.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        &:hover {
          background-color: $my_aqua;
          background-image: url("/style/img/family.png");
          cursor: url("/style/img/icons8-finger-up-48.png"), auto;
        }
      }

      .pointer {
        background-image: url("/style/img/pointer-right.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        &:hover {
          background-image: url("/style/img/pointer-right.png");
          background-color: $my_aqua;
          cursor: url("/style/img/icons8-finger-up-48.png"), auto;
        }
      }
      .trophy {
        background-image: url("/style/img/trophy.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        &:hover {
          background-image: url("/style/img/trophy-white.png");
          background-color: $my_aqua;
          cursor: url("/style/img/icons8-finger-up-48.png"), auto;
        }
      }
    }
  }

  &__column {
    width: 22rem;
    @include standard-padding;
    @media (max-width: 1110px) {
      width: 100%;
    }

    .bottom {
      .list {
        padding-left: 1.5rem;

        .item {
          margin-top: 2rem;
        }
      }
    }
  }

  &__wide {
    @include flex-column;
    @include standard-padding;
    width: 58%;
    @media (max-width: 1110px) {
      width: 100%;
    }

    .top {
      @include flex-column;
      @include border-bottom;
      justify-content: space-between;
      height: 25%;

      .img__container {
        @include flex-column;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 32rem;
        width: 100%;
        background-image: url(img/reeve.jpg);
        background-position: center;
        background-size: cover;

        .caption {
          @include flex-column;
          justify-content: center;
          text-align: left;
          font-size: 24px;
          margin-left: 2rem;
          margin-bottom: 3rem;
          position: absolute;
          bottom: 0;
          left: 0;

          width: 80%;
          background-color: white;
          padding-left: 1rem;
          padding-right: 1rem;
          font-weight: 600;

          em {
            font-style: normal;
            color: $my_aqua;
          }
        }

        .play_btn {
          height: 6rem;
          width: 6rem;
        }
      }
    }
    .middle {
      padding-top: 2rem;
      @include border-bottom;

      .headings {
        @include flex-row();
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;

        .view__more-arrow {
          @media (min-width: 1700px) {
            display: none;
          }
        }
      }

      .videos__container {
        @include flex-row;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width: 720px) {
          display: none;
        }

        .video__container {
          @include flex-column;
          height: 15rem;
          width: 10rem;
          max-width: 28%;
        }

        .video {
          position: relative;
          height: 8rem;
          width: 10rem;
          background-color: black;
          margin-bottom: 1.5rem;

          @media (max-width: 1300px) {
            height: 6rem;
            width: 8rem;
          }

          @media (max-width: 1110px) {
            height: 9rem;
            width: 11rem;
          }

          .caption {
            width: 2.5rem;
            background-color: white;
            margin-top: 0.5rem;
            margin-left: 0.5rem;
            font-size: 9px;
            text-align: center;
          }
        }

        .view__more {
          height: 12rem;
          width: 10rem;
          @include flex-column;
          justify-content: center;
          align-items: center;

          @media (max-width: 1700px) {
            display: none;
          }

          &:hover {
            @include link-hover;
          }
        }
      }
    }
  }

  .bottom {
    padding-top: 2rem;
    width: 100%;

    .headings {
      @include flex-row();
      justify-content: space-between;
      align-items: center;
      padding-bottom: 2rem;

      .view__more-arrow {
        @media (min-width: 1700px) {
          display: none;
        }
      }
    }

    .videos__container {
      @include flex-row;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 1110px) {
        @include flex-column;
      }

      .video__container {
        @include flex-column();
        justify-content: space-between;
        height: 20rem;
        margin: 1.5rem;
        width: 20rem;

        @media (max-width: 1110px) {
          width: 100%;
        }
      }

      .video {
        position: relative;
        height: 16rem;
        width: 20rem;
        background-color: black;

        .caption {
          width: fit-content;
          background-color: white;
          margin-top: 0.5rem;
          margin-left: 0.5rem;
          padding: 8px;
        }
      }

      // .slug {
      //   // @media (max-width: 1110px) {
      //   //   max-width: 40%;
      //   // }
      // }
    }

    .view__more {
      height: 20rem;
      width: 22rem;
      @include flex-column;
      justify-content: center;
      align-items: center;

      &:hover {
        @include link-hover;
      }
      @media (max-width: 1700px) {
        display: none;
      }
    }
    .nav-boxes {
      @include flex-row;
      justify-content: space-between;

      img {
        width: 8%;
      }

      .top {
        @include flex-row;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 3.5rem;
        border: black solid 2px;
        padding: 0;

        .content {
          @include flex-row;
          align-items: center;
          justify-content: space-between;
          width: 70%;
        }
      }

      .next {
        @include flex-row;
        justify-content: space-around;
        border: black solid 2px;
        width: 25%;
        align-items: center;
        // padding-left: 1rem;

        img {
          width: 18%;
        }
        .up-next {
          @include flex-column;

          font-size: 22px;

          .red {
            color: #993333;
            font-size: 14px;
          }
        }
      }
    }
  }
} //end of main

.footer {
  font-size: small;
  @include flex-row;
  justify-content: space-between;
  text-align: center;
  margin-top: 1rem;

  .tag {
    width: 18rem;
  }
}
